DATABASE_URL="postgresql://user:password@host:5432/dbname"
SESSION_SECRET="generate-32-plus-random-chars"
CONFERENCE_START_DATE="2026-09-04"
CONFERENCE_TIMEZONE="America/Denver"
APP_BASE_URL="http://localhost:3000"
FORCE_ADMIN_PASSWORD_CHANGE="false"
